main.news__content.news__content__article
	article
		header
			img(src="img/news/big.jpg", alt="")
			span
				i.icon.icon-clock
				| 11.02.2018 | 15:10
			h1 Россияне распродают оборудование для добычи криптовалют
		section
			p Россияне стали избавляться от майнингового оборудования, о чём свидетельствуют данные сайта объявлений Avito, передают «Ведомости». 
			p С начала года число размещённых на портале объявлений о продаже оборудования для добычи криптовалют увеличилось на 62 %.
			img(src="img/news/big.jpg", alt="")
			p Однако такая компьютерная техника продаётся слабо. По данным Avito, из 23 тыс. объявлений в январе сделки прошли всего по 1525 объявлениям, то есть в 6,6 % случаев. 
			p Тот факт, что россияне стали чаще продавать оборудование для майнинга криптовалют, в Avito объясняют снижением курса биткойна. Ещё 11 января за него давали $15 тыс., а в феврале стоимость падала ниже $6 тыс. 
			p По словам представителя Avito, бывшие в употреблении комплекты для добычи криптовалют предлагаются в среднем по цене 170—175 тыс. рублей, однако в январе реальные пользователи покупали оборудование по цене около 126 тыс. рублей. 
			p Представитель «Юлы» говорит, что средняя цена размещённого в сервисе предложения по купле-продаже майнингового оборудования в январе росла и достигла 214 тыс. рублей, но число сделок уменьшается. 
		hr 
		footer
			p Источник:
				a(href="http://www.vedomosti.ru/") http://www.vedomosti.ru/
		

