main.news__content
  .row
    .col-xs-12
      article.news__content__big
        a(href="article.html")
          header
            img(src="img/news/big.jpg", alt="")
          section
            span 
              i.icon.icon-clock
              | 11.02.2018 | 15:10
            h2 Россияне распродают оборудование для добычи криптовалют
    .col-md-6
      article.news__content__block
        header
          img(src="img/news/1.jpg", alt="")
        section
          span 
            i.icon.icon-clock
            | 11.02.2018 | 15:10
          h2 Майнер для Android всего за пару дней заразил тысячи устройств
        a(href="article.html")
          i.icon.icon-link
          | Читать подробнее
    .col-md-6
      article.news__content__block
        header
          img(src="img/news/1.jpg", alt="")
        section
          span 
            i.icon.icon-clock
            | 11.02.2018 | 15:10
          h2 Майнер для Android всего за пару дней заразил тысячи устройств
        a(href="article.html")
          i.icon.icon-link
          | Читать подробнее
    .col-md-6
      article.news__content__block
        header
          img(src="img/news/1.jpg", alt="")
        section
          span 
            i.icon.icon-clock
            | 11.02.2018 | 15:10
          h2 Майнер для Android всего за пару дней заразил тысячи устройств
        a(href="article.html")
          i.icon.icon-link
          | Читать подробнее
    .col-md-6
      article.news__content__block
        header
          img(src="img/news/1.jpg", alt="")
        section
          span 
            i.icon.icon-clock
            | 11.02.2018 | 15:10
          h2 Майнер для Android всего за пару дней заразил тысячи устройств
        a(href="article.html")
          i.icon.icon-link
          | Читать подробнее
  .pagination
    a(href="#").prev 
      i.icon.icon-prev
      | Назад
    a.link.active(href="#") 1
    a.link(href="#") 2
    a.link(href="#") 3
    a.link(href="#") 4
    a.link(href="#") 5
    a.link(href="#") 6
    span ...
    a(href="#").next 
      | Далее
      i.icon.icon-next
        


  
  