---
title: Новость
bodyClass: bodynews
---
extends layouts/_layout
block content
	section.news
		.container
			.row
				.col-xs-12
					a.back(href="#") 
						i.icon.icon-prev
						| Вернуться назад
				.col-md-8.col-xs-12
					include news/article
				.col-md-4.col-xs-12
					include partials/_aside