---
title: Контакты
bodyClass: bodynews
---
extends layouts/_layout
block content
  section.contact
    .container
      .row
        .col-md-6.col-xs-12.first-md
          h1.hidden-sm Контакты
          .form__social
            a(href="mailto:webimaticinvest@gmail.com")
              i.icon.icon-mail 
              span webimaticinvest@gmail.com
            a(href="tg://resolve?domain=@webimaticinvest")
              i.icon.icon-telegram 
              span @webimaticinvest
            a(href="https://www.facebook.com/webimaticinvest")
              i.icon.icon-fb 
              span facebook.com/webimaticinvest
          .contact__info
            p <b>Компания:</b> ООО «Вебиматик Инвест»
            p <b>Юр. адрес:</b> 603000, г. Нижний Новгород, ул. Короленко, д.29, офис. 212
            p ИНН 5260449541 / ОГРН 5260449541
        .col-md-6.col-xs-12.first-sm
          h1.hidden-md.hidden-xs Контакты
          iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2213.1614930435403!2d43.99077731595219!3d56.309785980706025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4151d5ae4737ca7d%3A0xfc949c2f763df1cd!2z0YPQuy4g0JrQvtGA0L7Qu9C10L3QutC-LCAyOSwgMjEyLCDQndC40LbQvdC40Lkg0J3QvtCy0LPQvtGA0L7QtCwg0J3QuNC20LXQs9C-0YDQvtC00YHQutCw0Y8g0L7QsdC7Liwg0KDQvtGB0YHQuNGPLCA2MDMwMDA!5e0!3m2!1sru!2sua!4v1523807590808', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
