---
title: Главная страница
---
extends layouts/_layout
block content
  include home/intro

  include home/about

  include home/advantages

  include home/portfolio

  include home/look

  include home/capabilities

  include home/team

  include home/partners

  include home/form