.contact
  padding-top: 50px
  padding-bottom: 100px
  background: $gray-02
  h1
    font-size: 48px
  .form__social
    margin-bottom: 40px
    a
      color: $secondary
      text-decoration: none
    i
      text-decoration: none
  iframe
    box-shadow: 16px 16px 0 0 $primary
    border: solid 8px $white !important
