aside.aside
  .aside__fund
    h3 Мероприятия  фонда
    article
      header
        img(src="img/fund/1.jpg", alt="")
      section
        span 
          i.icon.icon-clock
          | 07.02.2018 | 16:11
        h4 По своей сути рыбатекст является альтернативой традиционному lorem
    article
      header
        img(src="img/fund/1.jpg", alt="")
      section
        span 
          i.icon.icon-clock
          | 07.02.2018 | 16:11
        h4 По своей сути рыбатекст является альтернативой традиционному lorem
    article
      header
        img(src="img/fund/1.jpg", alt="")
      section
        span 
          i.icon.icon-clock
          | 07.02.2018 | 16:11
        h4 По своей сути рыбатекст является альтернативой традиционному lorem
    article
      header
        img(src="img/fund/1.jpg", alt="")
      section
        span 
          i.icon.icon-clock
          | 07.02.2018 | 16:11
        h4 По своей сути рыбатекст является альтернативой традиционному lorem
    article
      header
        img(src="img/fund/1.jpg", alt="")
      section
        span 
          i.icon.icon-clock
          | 07.02.2018 | 16:11
        h4 По своей сути рыбатекст является альтернативой традиционному lorem
    .aside__fund__button
      a.btn.btn-normal(href="#") Показать еще
  .aside__form
    h3 Подписаться на новости
    form
      p Укажите Ваше имя и Email адрес и получайте регулярно свежие новости от нашего фонда
      .user.input
        input(type="text" required placeholder="Ваше имя")
      .email.input
        input(type="email" required placeholder="Email адрес")
      input.btn.btn-primary(type="submit" value="Отправить заявку")
      .checkbox
        input#checkbox(type="checkbox" required)
        label.label(for="checkbox")
        label.label-for(for="checkbox") Я принимаю 
          a(href="#") условия пользовательского соглашения
