footer.footer
	.container
		.row
			.col-xs-12
				p ООО «Вебиматик Инвест»
				p Юр. адрес: 603000, г. Нижний Новгород, ул. Короленко, д.29, офис. 212
				p ИНН 5260449541 / ОГРН 5260449541
	.footer__bottom
		.container
			.row.middle-xs.center-xs.start-md
				.col-md-4
					a.logo(href="#")
						img(src="img/logo/white.svg", alt="")
				.col-md-4.col-xs-10
					p <span>©️</span> Webimatic Invest | Все права защищены 2017-2018 г.
					a.politika(href="#") Политика конфиденциальности
				.col-md-4
					.social.hidden-xs.hidden-sm
						a(href="#")
							i.icon.icon-mail
						a(href="#")
							i.icon.icon-telegram
						a(href="#")
							i.icon.icon-facebook

a.top(href="#")
	img(src="img/top.svg", alt="")


#form.modal(style="display: none")
	form
		h3 Оставьте заявку
		p Наш специалист свяжется с Вами в ближайшее время!
		.user.input
			input(type="text" required placeholder="Ваше имя")
		.email.input
			input(type="email" required placeholder="Email адрес")
		.textarea.input
			textarea(placeholder="Опишите ваш проект")
		.file
			i.icon.icon-file
			p Прекрепить резюме
			input(type="file")
		input.btn.btn-primary(type="submit" value="Отправить заявку")
		.checkbox
			input#checkbox(type="checkbox" required)
			label.label(for="checkbox")
			label.label-for(for="checkbox") Я принимаю 
				a(href="#") условия пользовательского соглашения