footer.footer
	.container
		.row
			.col-xs-12
				p ООО «Вебиматик Инвест»
				p Юр. адрес: 603000, г. Нижний Новгород, ул. Короленко, д.29, офис. 212
				p ИНН 5260449541 / ОГРН 5260449541
	.footer__bottom
		.container
			.row.middle-xs
				.col-md-4
					a.logo(href="#")
						img(src="img/logo/white.svg", alt="")
						.logo__text
							h2 Webimatic Invest
							p Фонд правильных инвестиций
				.col-md-4
					p ©️ Webimatic Invest | Все права защищены 2017-2018 г.
					a.politika(href="#") Политика конфиденциальности
				.col-md-4
					.social
						a(href="#")
							i.icon.icon-mail
						a(href="#")
							i.icon.icon-telegram
						a(href="#")
							i.icon.icon-facebook
