.advantages
  background-image: url('../img/background/bg-02.jpg')
  padding: 100px 0
  +cover
  h2
    display: flex
    align-items: center
    margin-bottom: 115px
    i 
      color: $primary
      font-size: 
      font-size: 100px
      margin-right: 35px
  &__block
    background-color: $white
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.12)
    border-radius: 8px
    height: 160px
    position: relative
    display: flex
    align-items: flex-end
    justify-content: center
    img
      position: absolute
      top: -55px
      left: 50%
      transform: translateX(-50%)
    h3
      margin-bottom: 25px
      text-align: center
      font-size: 18px
      font-weight: 500
      line-height: 1.4
      font-family: 'Museo Sans'
