.form
  background-image: url('../img/background/bg-05.jpg')
  +cover
  padding: 100px 0
  +r($tablet)
    padding-top: 70px
    padding-bottom: 0
    .container
      padding: 0 60px
  +r($mobile)
    padding-top: 40px
    .container
      padding: 0 15px
  h2, p
    color: $white
    +r($tablet)
      text-align: center
  p
    font-size: 20px
    +r($mobile)
      font-size: 16px
      br
        display: none
  h2
    margin-bottom: 15px
  &__social
    margin-top: 50px
    +r($tablet)
      display: flex
      justify-content: center
      margin-top: 35px
      span
        display: none
    +r($tablet)
      margin-top: 40px
    +r($mobile)
      margin-top: 25px
    a
      text-decoration: none
      display: flex
      align-items: center
      color: rgba($white, 0.85)
      margin-bottom: 25px
      +r($tablet)
        margin-bottom: 40px
      +tr
      i
        +center
        background: $white
        width: 55px
        height: 55px
        border-radius: 50%
        color: $primary
        margin-right: 15px
        +r($tablet)
          width: 65px
          height: 65px
          font-size: 20px
          margin-right: 30px
      &:hover
        text-decoration: underline
        color: $white
      &:nth-of-type(3)
        i
          +r($tablet)
            margin-right: 0
  form
    background-color: $white
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.12)
    text-align: center
    padding: 35px 40px
    margin-top: -170px
    box-sizing: border-box
    float: right
    +r($tablet)
      margin-top: 0
      width: 100%
    +r($mobile)
      padding: 25px 30px
    h3
      color: $secondary
      margin-bottom: 10px
      font-size: 40px
      font-family: 'Museo Sans'
      font-weight: 900
      +r($mobile)
        font-size: 28px
    p
      color: $body-text
      font-size: 18px
      +r($mobile)
        font-size: 16px

