.intro
  background: #0E151F url('../img/background/bg-01.jpg')
  +cover
  height: 720px
  color: $white
  +r($mobile)
    height: 620px
  h1
    font-size: 62px
    font-weight: 900
    font-family: 'Museo Sans'
    line-height: 1.34
    margin-bottom: 20px
    margin-top: 80px
    +r($tablet)
      font-size: 48px
      margin-top: 40px
    +r($mobile)
      font-size: 36px
      br
        display: none
  p
    font-size: 20px
    line-height: 1.5
    margin-bottom: 50px
    color: $white
    +r($tablet)
      font-size: 18px
    +r($mobile)
      font-size: 16px
      margin-bottom: 30px
      br
        display: none
