.look
  background-image: url('../img/background/bg-03.jpg')
  +cover
  padding-top: 100px
  position: relative
  padding-bottom: 350px
  +r($tablet)
    padding-top: 65px
  +r($mobile)
    padding-top: 40px
    padding-bottom: 40px
  h2, h3, p, ul
    color: $white
  h2
    margin-bottom: 15px
    span
      color: $primary
  p
    font-size: 20px
    margin-bottom: 70px
    +r($tablet)
      br
        display: none
    +r($mobile)
      font-size: 16px
      margin-bottom: 30px
  &__table
    border-radius: 8px
    background-color: rgba(22, 28, 40, 0.7)
    display: flex
    flex-wrap: wrap
    overflow: hidden
    &__block
      width: 33.3333333%
      box-shadow: inset -1px 0 0 0 rgba(255, 255, 255, 0.12)
      +r($mobile)
        box-shadow: none
      header
        background-color: $secondary
        height: 70px
        text-transform: uppercase
        letter-spacing: 0.5
        font-family: 'Museo Sans'
        font-size: 20px
        padding-left: 25px
        padding-top: 28px
        box-shadow: inset -1px 0 0 0 rgba(255, 255, 255, 0.12)
        +r($mobile)
          padding: 0
          box-shadow: none
          +center
      &__content
        padding-top: 40px
        &__col
          border-bottom: dashed 1px rgba($white, 0.15)
          padding-top: 30px
          &:nth-of-type(1)
            height: 110px
            padding-top: 0
          &:nth-of-type(2)
            height: 225px
          &:nth-of-type(3)
            height: 180px
            border-bottom: none
          +r($mobile)
            height: 100% !important
            padding: 15px 0 
      &--first
        +r($tablet)
          width: 100%
        header
          +r($mobile)
            background: $white
            padding: 0
            h3
              color: $secondary
              font-size: 16px
        ul
          padding-left: 65px
          margin-left: 25px
          +r($tablet)
            display: flex
            flex-wrap: wrap
          li
            font-size: 16px
            opacity: 0.9
            color: $white
            position: relative
            margin-bottom: 45px
            width: 90%
            &:before
              content: ''
              background: url('../img/plus.svg')
              width: 40px
              height: 40px
              display: block
              position: absolute
              left: -65px
            +r($tablet)
              &:nth-of-type(1)
                margin-right: 100px
              &:nth-of-type(1), &:nth-of-type(2)
                width: 40%
            +r($mobile)
              &:nth-of-type(1), &:nth-of-type(2)
                width: 100% !important
                margin-right: 0
      &--second, &--third
        +r($tablet)
          width: 50%
        +r($mobile)
          width: 100%
        ul
          padding-left: 30px
          margin-left: 25px
          li
            font-size: 16px
            line-height: 1.44
            color: rgba(255, 255, 255, 0.75)
            margin-bottom: 10px
            position: relative
            &:before
              content: ''
              width: 12px
              height: 12px
              border-radius: 50%
              background: $error
              display: block
              position: absolute
              left: -30px
              top: 4px
      &--third
        box-shadow: none
        header
          box-shadow: none
        ul li
          width: 90%
          &:before
            background: $success
  &__form
    width: 830px
    height: 450px
    background-color: $white
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.12)
    position: absolute
    left: 50%
    transform: translateX(-50%)
    bottom: -225px
    +center
    flex-direction: column
    z-index: 50
    &:before
      content: ''
      background-image: url('../img/knopka-1.png')
      +cover
      width: 50px
      height: 43px
      display: block
      position: absolute
      top: 15px
      left: 15px
    &:after
      content: ''
      background-image: url('../img/knopka-2.png')
      +cover
      width: 50px
      height: 43px
      display: block
      position: absolute
      top: 15px
      right: 15px
    +r($tablet)
      width: 720px
      height: 410px
      padding: 0 50px
    +r($mobile)
      display: none
    img
      position: absolute
      width: 110px
      height: 110px
      top: -55px
      left: 50%
      transform: translateX(-50%)
    h2
      color: $secondary
      text-align: center
      margin-bottom: 30px
      +r($tablet)
        margin-top: 10px
        margin-bottom: 15px
    p 
      color: $secondary
      text-align: center
      margin-bottom: 40px
      +r($tablet)
        margin-bottom: 20px
      a
        color: $primary
        text-decoration: none
    .btn
      left: 0
      transform: translateX(0)
  .btn
    +r($mobile)
      width: 300px
      margin-top: 20px
