@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-3: "\EA01";
$icon-clock: "\EA02";
$icon-close-menu: "\EA03";
$icon-close: "\EA04";
$icon-facebook: "\EA05";
$icon-file: "\EA06";
$icon-form-textarea: "\EA07";
$icon-form-user: "\EA08";
$icon-lang: "\EA09";
$icon-link: "\EA0A";
$icon-mail: "\EA0B";
$icon-next: "\EA0C";
$icon-open: "\EA0D";
$icon-prev: "\EA0E";
$icon-telegram: "\EA0F";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-3:before { content: $icon-3; }
.icon-clock:before { content: $icon-clock; }
.icon-close-menu:before { content: $icon-close-menu; }
.icon-close:before { content: $icon-close; }
.icon-facebook:before { content: $icon-facebook; }
.icon-file:before { content: $icon-file; }
.icon-form-textarea:before { content: $icon-form-textarea; }
.icon-form-user:before { content: $icon-form-user; }
.icon-lang:before { content: $icon-lang; }
.icon-link:before { content: $icon-link; }
.icon-mail:before { content: $icon-mail; }
.icon-next:before { content: $icon-next; }
.icon-open:before { content: $icon-open; }
.icon-prev:before { content: $icon-prev; }
.icon-telegram:before { content: $icon-telegram; }
