.icon-facebook {
  width: 0.5em;
  height: 1em;
  fill: #ef9a3e;
}
.icon-lang {
  width: 1.43em;
  height: 1em;
  fill: #FFF;
}
.icon-mail {
  width: 1.31em;
  height: 1em;
  fill: #ef9a3e;
}
.icon-telegram {
  width: 1.24em;
  height: 1em;
  fill: #ef9a3e;
}
