.icon-3 {
  width: 0.64em;
  height: 1em;
  fill: #EF9A3E;
}
.icon-clock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.5em;
  height: 1em;
  fill: #ef9a3e;
}
.icon-file {
  width: 1em;
  height: 1em;
  fill: #ef9a3e;
}
.icon-form-textarea {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-form-user {
  width: 1em;
  height: 1em;
  fill: #ccc;
}
.icon-lang {
  width: 1.43em;
  height: 1em;
  fill: #FFF;
}
.icon-link {
  width: 0.97em;
  height: 1em;
  fill: initial;
}
.icon-mail {
  width: 1.31em;
  height: 1em;
  fill: #ef9a3e;
}
.icon-next {
  width: 0.58em;
  height: 1em;
  fill: initial;
}
.icon-prev {
  width: 0.58em;
  height: 1em;
  fill: initial;
}
.icon-telegram {
  width: 1.24em;
  height: 1em;
  fill: #ef9a3e;
}
