section.about
  .container
    .row
      .col-md-6
        h2 О фонде
        p <b>Webimatic Invest</b> – частный фонд, основанный IT предпринимателями из Санкт-Петербурга и Нижнего Новгорода. Мы предлагаем проектам наш накопленный опыт, возможности и связи. Фонд нацелен на инвестиции в проекты на стадии seed и pre-seed.
        p Ищем технологические проекты начиная с ранних стадий, помогаем создать не просто инвестиционно-привлекательный проект, а самостоятельный, быстрорастущий бизнес. 
        p Наши приоритетные направления для инвестирования - SaaS, marketplace, enterprise решения, CPA, lead generation, коммерческие контент-проекты.
        p Но, если у Вас есть что нам предложить – обязательно рассмотрим все предложения!
        a.btn.btn-normal(href="#form" rel="modal:open") Оставить заявку
      .col-md-6
        .about__image
          img(src="img/about.jpg", alt="")
