section.advantages
  .container
    .row
      .col-xs-12
        h2.hidden-md
          i.icon.icon-3
          | Наши преимущества
        h2.hidden-xs.hidden-sm
          i.icon.icon-3
          | Наших главных<br> преимущества
      .col-sm-4.col-xs-12
        .advantages__block
          img(src="img/advantages/1.svg", alt="")
          h3 Быстрые деньги на старт <br>бизнес проекта
      .col-sm-4.col-xs-12
        .advantages__block
          img(src="img/advantages/2.svg", alt="")
          h3 Сильная экспертиза <br>в интернет-маркетенге
      .col-sm-4.col-xs-12
        .advantages__block
          img(src="img/advantages/3.svg", alt="")
          h3 Выгодные инвестиции, <br>на развитие вашего бизнеса