section.capabilities#capabilities
  .container
    .row
      .col-xs-12.center-xs
        h2 Наши 
          span возможности
      .col-sm-4
        .capabilities__block
          .capabilities__block__image(style="background-image: url('img/capabilities/1.png')")
          .capabilities__block__content
            h3 Разработчикам
            ul
              li Реализация собственных разработок и создание инновационного проекта
              li Возможность работы над существующими проектами в рамках существующих бизнесов
      .col-sm-4
        .capabilities__block
          .capabilities__block__image(style="background-image: url('img/capabilities/2.png')")
          .capabilities__block__content
            h3 Партнерам
            ul
              li Организация совместного сотрудничества в области IT 
              li Совместное инвестирование перспективных разработок
              li Совместное участие с Webimatic Invest в конкурсах и отраслевых мероприятиях, посвященных технологическому предпринимательству, инновационным проектам, финансированию стартапов. 
      .col-sm-4
        .capabilities__block
          .capabilities__block__image(style="background-image: url('img/capabilities/3.png')")
          .capabilities__block__content
            h3 Командам
            ul
              li Координация и помощь на всех этапах рассмотрения проекта, работа со всей командой (формирование, обучение, усиление), обратная связь от экспертов
              li Инвестирование на ранних стадиях, возможность привлечь дополнительные деньги от наших партнеров
              li Коммерциализация проекта на базе действующих направлений деятельности
              li При наличии понятных бизнес целей и обоснованных расходов для их достижения сумма инвестиций может быть существенно расширена

