section.intro
  .container
    .row.middle-xs.center-xs
      .col-xs-12
        h1 Инвестиции в развитие <br>ваших бизнес-идей
        p Умные деньги (“smart-money”) для вывода вашего бизнес<br> на новый уровень на начальном этапе или стадии развития
        a.btn.btn-primary(href="#") Оставить заявку