section.look
  .container
    .row
      .col-xs-12.center-xs
        h2 Кого мы 
          span ищем?
        p Наши приоритетные направления для инвестирования - SaaS, marketplace,<br> enterprise, CPA, lead generation, коммерческие контент-проекты и т.д.
      .col-xs-12
        .look__table
          .look__table__block
            header
              h3 Кто нам интересен
            
            
