section.look#look
  .container
    .row
      .col-xs-12.center-xs
        h2 Кого мы 
          span ищем?
        p Наши приоритетные направления для инвестирования - SaaS, marketplace,<br> enterprise, CPA, lead generation, коммерческие контент-проекты и т.д.
      .col-xs-12
        .look__table
          .look__table__block.look__table__block--first
            header
              h3 Кто нам интересен
            .look__table__block__content
              ul
                li Команды разработчиков с личными решениями
                li Предпринимателей с новыми бизнес идеями
                li Проекты ориентированные на общероссийский рынок с перспективой международной экспансией
          .look__table__block.look__table__block--second
            header
              h3 Ваш результат в бизнесе
            .look__table__block__content
              .look__table__block__content__col
                ul
                  li Есть прототип, но нет MPV
                  li Экономика продукта не ясна
              .look__table__block__content__col
                ul
                  li Есть MPV
                  li Есть первые продажи / монетизация
                  li Проверено несколько гипотез
              .look__table__block__content__col
                ul
                  li Рабочий бизнес на начальной стадии
                  li Продажи не случайны, тенденция к росту
                  li Есть метрики бизнеса для анализа
          .look__table__block.look__table__block--third
            header
              h3 Что даем вам
            .look__table__block__content
              .look__table__block__content__col
                ul
                  li Деньги на дороботку MVP
                  li Формируем и тестируем гипотизы
                  li Рассчитываем unit-экономику
              .look__table__block__content__col
                ul
                  li Помогаем команде закрыть необходимые компетенции
                  li Помощь в корректировке бизнес-модели
                  li Тестирование каналов привлечения новых клиентов
              .look__table__block__content__col
                ul
                  li Разработка стратегии маштабирования
                  li Все необходимые ресурсы для продвижения проекта
  .look__form
    img(src="img/look-form.svg", alt="")
    h2 Начните сотрудничество<br> с нами прямо сейчас!
    p Мы рады каждому проекту. Ждем от Вас краткого описания проекта на почту <a href="mailto:webimaticinvest@gmail.com">webimaticinvest@gmail.com</a> или через форму подачи заявки
    a.btn.btn-primary(href="#form" rel="modal:open") Оставить заявку
  a.btn.btn-primary.hidden-sm.hidden-md(href="#") Начать сотрудничество
            
