section.portfolio#portfolio
  .container
    .row
      .col-xs-12.center-xs
        h2 Портфель фонда
      .col-md-6.col-sm-12.col-xs-12.portfolio__block__margin
        .portfolio__block
          .portfolio__block__image
            img(src="img/portfolio/1.jpg", alt="")
            img.portfolio__block__image__logo(src="img/portfolio/logo-1.png", alt="")
          .portfolio__block__content
            .portfolio__block__content__text
              h3 
                span «Gusli» 
                | - музыкальный<br> сервис для заведений 
              p Сервис, который предлагает готовые подборки плейлистов, которые можно настраивать по вашему желанию или по типу заведения.
            a(href="#") 
              i.icon.icon-link
              | Перейти на сайт
      .col-md-6.col-sm-12.col-xs-12.portfolio__block__margin
        .portfolio__block
          .portfolio__block__image
            img(src="img/portfolio/2.jpg", alt="")
            img.portfolio__block__image__logo(src="img/portfolio/logo-2.png", alt="")
          .portfolio__block__content
            .portfolio__block__content__text
              h3 
                span «Секреты Мастеров»<br>
                | центр онлайн обучения 
              p Сервис с обширной базой видео мастер классов по онлайн-образованию в странах России и СНГ.
            a(href="#") 
              i.icon.icon-link
              | Перейти на сайт