section.team#team
  .container
    .row
      .col-xs-12.center-xs
        h2 Наша 
          span команда
      .col-md-4.hidden-sm.hidden-xs
        .team__block
          .team__block__image
            img(src="img/team/1.jpg", alt="")
          .team__block__content
            h3 Имя и Фамилия
            span Должность в фонде
            p Повседневная практика показывает, что укрепление и развитие структуры позволяет выполнять важные задания по разработке систем массового участия.
          .team__block__social
            a(href="#")
              i.icon.icon-mail
            a(href="#")
              i.icon.icon-telegram
            a(href="#")
              i.icon.icon-fb
      .col-md-4.hidden-sm.hidden-xs
        .team__block
          .team__block__image
            img(src="img/team/2.jpg", alt="")
          .team__block__content
            h3 Имя и Фамилия
            span Должность в фонде
            p Повседневная практика показывает, что укрепление и развитие структуры позволяет выполнять важные задания по разработке систем массового участия.
          .team__block__social
            a(href="#")
              i.icon.icon-mail
            a(href="#")
              i.icon.icon-telegram
            a(href="#")
              i.icon.icon-fb
      .col-md-4.hidden-sm.hidden-xs
        .team__block
          .team__block__image
            img(src="img/team/3.jpg", alt="")
          .team__block__content
            h3 Имя и Фамилия
            span Должность в фонде
            p Повседневная практика показывает, что укрепление и развитие структуры позволяет выполнять важные задания по разработке систем массового участия.
          .team__block__social
            a(href="#")
              i.icon.icon-mail
            a(href="#")
              i.icon.icon-telegram
            a(href="#")
              i.icon.icon-fb
      .col-xs-12
        .swiper-container.team-slider.hidden-md
          .swiper-wrapper
            .swiper-slide
              .team__block
                .team__block__image
                  img(src="img/team/1.jpg", alt="")
                .team__block__content
                  h3 Имя и Фамилия
                  span Должность в фонде
                  p Повседневная практика показывает, что укрепление и развитие структуры позволяет выполнять важные задания по разработке систем массового участия.
                .team__block__social
                  a(href="#")
                    i.icon.icon-mail
                  a(href="#")
                    i.icon.icon-telegram
                  a(href="#")
                    i.icon.icon-fb
            .swiper-slide
              .team__block
                .team__block__image
                  img(src="img/team/2.jpg", alt="")
                .team__block__content
                  h3 Имя и Фамилия
                  span Должность в фонде
                  p Повседневная практика показывает, что укрепление и развитие структуры позволяет выполнять важные задания по разработке систем массового участия.
                .team__block__social
                  a(href="#")
                    i.icon.icon-mail
                  a(href="#")
                    i.icon.icon-telegram
                  a(href="#")
                    i.icon.icon-fb
            .swiper-slide
              .team__block
                .team__block__image
                  img(src="img/team/3.jpg", alt="")
                .team__block__content
                  h3 Имя и Фамилия
                  span Должность в фонде
                  p Повседневная практика показывает, что укрепление и развитие структуры позволяет выполнять важные задания по разработке систем массового участия.
                .team__block__social
                  a(href="#")
                    i.icon.icon-mail
                  a(href="#")
                    i.icon.icon-telegram
                  a(href="#")
                    i.icon.icon-fb
          .swiper-pagination