.footer
  background-color: $secondary
  padding-top: 20px
  p
    color: rgba(255, 255, 255, 0.75)
    line-height: 1.75
    text-align: center
    margin-bottom: 0
  &__bottom
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.08)
    padding: 30px 0
    margin-top: 20px
    p
      font-size: 14px
      color: rgba(255, 255, 255, 0.6)
      margin-bottom: 10px
    .politika
      display: block
      text-align: center
      color: rgba(255, 255, 255, 0.6)
  +r($tablet)
    .logo, .social
      display: none
